<h1 mat-dialog-title>Editar Película</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="data.primaryTitle">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Descripción</mat-label>
    <textarea matInput rows="4" [(ngModel)]="data.description"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data">Guardar</button>
</div>
