<h1 mat-dialog-title class="edit-movie-dialog-title">Editar Película</h1>
<div mat-dialog-content class="edit-movie-dialog-content">
  <mat-form-field class="edit-movie-dialog-form-field">
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="data.primaryTitle">
  </mat-form-field>

  <mat-form-field class="edit-movie-dialog-form-field">
    <mat-label>Descripción</mat-label>
    <textarea matInput rows="4" [(ngModel)]="data.description"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="edit-movie-dialog-actions">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button color="primary" [mat-dialog-close]="movie()">Guardar</button>
</div>
